<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foster.data"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.foster.data.HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.foster.data.PostScreen"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.foster.data.ListScreen"
            android:label="@string/title_activity_list_screen" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.foster.data.IdeaScreen"
            android:label="@string/title_activity_idea_screen" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.foster.data.LoginScreen"
            android:label="@string/title_activity_login_screen" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.foster.data.NewAccount"
            android:label="@string/title_activity_new_account" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.foster.data.Profile"
            android:label="@string/title_activity_profile" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.foster.data.ToList"
            android:label="@string/title_activity_to_list"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
